.tile-board {
    height: 80vh;
    width: 500px;
    padding: 10px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 5px;
  }