.board {
  height: 90vh;
  width: 500px;
  background-color: black; 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 5px;
  
}
.item {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: pink;
}


